.dashboard-wrapper {
  padding: 1rem;
  background-color: black;
  color: var(--primary-green);
  min-height: 100vh;
  font-family: 'VT323', monospace;  
}

.dashboard-header {
  /* border: solid 1px blue; */
  text-align: center;
  display:flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  padding-bottom: 1rem;
}

.dashboard-header h1 {
  color: #99ff99;
  font-family: 'VT323', monospace;
  font-size: 2.5rem;
  margin: 0;
}

.dashboard-subtext {
  font-size: 1rem;
  color: var(--primary-yellow);
  opacity: 0.8;
  margin-top: 0;
}

.dashboard-grid {
  border: 2px solid var(--primary-green);
  background: #111;
  padding: 1.5rem;
  padding-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.left-panel {
  flex: 1;
  min-width: 280px;
  max-width: 350px;
  padding-right: 1.5rem;
  margin-right: 4.75rem;
  margin-left: 3.75rem;
}

.right-panel {
  border-left: 1px solid var(--primary-green);
  flex: 2;
  min-width: 400px;
  display: flex;
  flex-direction: column;
}

.section-heading {
  /* border-bottom: 1px solid #99ff99; */
  color: #99ff99;
  font-size: 1.5rem;
  margin-bottom: 0.25rem;
  /* padding-bottom: 0.025rem;
  width: 20rem; */
}

.section-sub-heading {
  margin: 0 0 .3rem 0;
}

.sub-heading {
  
  color: #00cc66;
  font-size: 1.1rem;
  margin-bottom: 0;
  margin-top: 0;      
  line-height: 1.2;
}

.user-info p {
  margin: 0.25rem 0 0 1.25rem;
  text-align: left;
  font-size: 1.15rem;
}

.account-label {
  color: #00cc66;
  font-weight: bold;
}

.purchase-options {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.retro-button:disabled {
  opacity: 0.6;
  pointer-events: none;
  cursor: not-allowed;
}

.cancel-button {
  margin-top: 1rem;
  background-color: transparent;
  color: #ff4444;
  border: 1px solid #ff4444;
}

.cancel-button:hover {
  background-color: #ff4444;
  color: black;
}

.interview-scroll {
  overflow-y: auto;
  flex: 1;
  padding-right: 0.5rem;
  padding-left: 1rem;
   max-height: 60vh; 
}

.interview-list {
  list-style: none;
  padding: 0;
  margin: 0 7rem 0 7rem;
}

.interview-item {
  padding: 0.75rem;
  border: 1px solid #00aa00;
  margin-bottom: 0.75rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.2s;
}

.interview-item:hover {
  background-color: #003300;
}

.interview-feedback {
  font-size: 0.875rem;
  color: #99ff99;
}

.dashboard-error,
.dashboard-loading {
  color: #ff5555;
  text-align: center;
  margin-top: 2rem;
}

.go-to-interview-row{
  width: 20rem;
}