.interview-page {
  /* border: 10px solid gold; */
}

.interview-header {
  /* border: 4px solid white; */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.interview-header h1 {
  color: #99ff99;
  font-family: 'VT323', monospace;
  font-size: 2.5rem;
  margin: 0;
}

.interview-subtext {
  font-size: 1rem;
  color: var(--primary-yellow);
  opacity: 0.8;
  margin-top: 0;
}


.interview-screen {
  /* border: 20px solid pink; */
  height: 100vh;
  background: black;
  color: var(--primary-green);
  margin: 0 1rem 0 1rem;
  font-family: 'VT323', monospace;
  display: flex;
  flex-direction: column;
}


.paused-message {
  color: var(--primary-yellow);
  padding: 1rem 0;
  font-size: 0.975rem;
}

.warning {
  margin: 1rem 0;
  padding: 0.75rem 1rem;
  background-color: #222;
  border: 1px solid #555;
  color: #ffc;
  font-family: monospace;
}

.terminal-box {
  width: 100%;
  height: 100%;
  background-color: #111;
  border: 1px solid var(--primary-green);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-direction: row;
}

.terminal-header {
  border-bottom: 1px solid var(--primary-green);
}

.button-container-interview{
  /* border: 8px solid turquoise; */
  display: flex;
  flex-direction:row-reverse;
  justify-items: flex-end;
  justify-content: space-between;
}

.button-is-code {
  min-height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-row-start-save,
.button-row-input,
.language-select-row {
  display: flex;
  justify-content: center;
  /* border: 4px solid blue; */
}

.button-row-start-save {
  margin-bottom: 0;
  width: 20rem;
}

.terminal-header .label {
  color: yellow;
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
}

.chat-window-wrapper {
  /* border: 8px solid silver; */
  width: 50%;
  height: 100%;
  background-color: #111;
  border-right: 10px solid #448e44;;
   align-items: stretch;
  margin: 0;
  padding: 0;
}

.chat-window {
  height: 100%;
  /* border: 8px solid brown; */
  overflow-y: auto;
background-color: #111;
  /* border: 1px solid #0f0; */
  font-size: 0.95rem;
}

.intro-header {
  color: #00cc66;
  font-weight: bold;
  font-size: 1.45rem;;
}


.message {
  background-color: #222;
  margin: .95rem;  
  padding: .45rem; 
  position: relative;
  border-radius: 2px;
  text-align: left;
  z-index: 50;
}

.message-header {
    color: #99ff99;
  font-size: 1.1rem;
  margin: 0;
  padding: 0;
}

.message-content {
  /* padding-left: 0.5rem; */
  border-left: 2px solid #333;
  white-space: pre-wrap;
  margin: 0;
  padding: 0;
  font-size: 1.25rem;
}

.feedback-box {
  /* margin-top: 0.5rem; */
  border: 1px dashed yellow;
  background-color: rgba(128, 64, 0, 0.1);
  padding: 0.5rem;
  font-size: 1rem;
}

.feedback-box .label {
  color: yellow;
  font-weight: bold;
}

.feedback-box .score {
  font-weight: bold;
}

.score-high {
  color: var(--primary-green);
}

.score-mid {
  color: yellow;
}

.score-low {
  color: red;
}






.user-entry-wrapper {
  /* border: 8px solid white; */
  width: 50%;
  height: 100%;
  display:flex;
  flex-direction: column;
}

.input-wrapper {
  /* border: 8px solid blue; */
  height: 100%;
}

.textarea-wrapper {
  /* border: 8px solid orange; */
  height: 100%;
}

.textarea-input {
  width: 100%;
  height: 100%;
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #111;
  color: var(--primary-green);
  border: 1px solid var(--primary-green);
  resize: none;
  box-sizing: border-box;
  font-family: 'VT323', monospace;
}


.retro-button {
  background: black;
  border: 1px solid var(--primary-green);
  color: var(--primary-green);
  padding: 0.5rem;
  cursor: pointer;
  transition: all 0.2s;
  font-family: 'VT323', monospace;

}

.retro-button.red {
  border-color: red;
  color: red;
}

.retro-button.red:hover {
  background-color: darkred;
  color: white;
}

.retro-button.blue {
  border-color: #4af;
  color: #4af;
}

.retro-button.blue:hover {
  background-color: #004488;
  color: white;
}

.retro-button.gray {
  border-color: #777;
  color: #777;
}

.retro-button.gray:hover {
  background-color: #333;
  color: white;
}

.terminal-footer {
  margin-top: 2rem;
  border-top: 1px solid #444;
  padding-top: 1rem;
  font-size: 0.75rem;
  text-align: center;
  color: #777;
}

.reset-pause-notice-row{
  height: 27px;
  margin-bottom: 0;
}

.reset-pause-notice {
  padding: .4rem;
  background-color: #222;
  border: 1px solid #555;
  color: #ffc;
  font-family: monospace;
}

