.legal-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.legal-text {
  background-color: black;
  color: var(--primary-green);
  font-family: 'VT323', monospace;
  max-width: 800px;
}

.legal-text h1 {
  font-size: 2rem;
  margin-bottom: .25rem;
}

.legal-text h2 {
  font-size: 1.4rem;
  text-align: left;
}

.legal-text p {
  font-size: 1.1rem;
  line-height: .75;
  text-align: left;
}
